<div class="container">
    <h2 class="title display-4">To-do List</h2>
    
    <form id="filter" class="form-inline mb-3" action="onSearch()">
        <div class="form-group">
            <label for="searchTermCtrl">Search:</label><input id="searchTermCtrl" name="searchTerm" [(ngModel)]="filter.searchTerm" class="form-control ml-0 ml-sm-2 mr-sm-2" type="text">
        </div>
        <div class="form-group">
            <label for="stateCtrl">with state:</label>
            <select id="stateCtrl" name="state" [(ngModel)]="filter.state" class="form-control ml-0 ml-sm-2 mr-sm-2">
              <option [ngValue]="null" selected="selected">- All states -</option>
              <option *ngFor="let todoState of TodoStates" [ngValue]="todoState.value">{{todoState.label}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="hasAttachmentCtrl">has attachment:</label>
            <select id="hasAttachmentCtrl" name="hasAttachment" [(ngModel)]="filter.hasAttachment" class="form-control ml-0 ml-sm-2 mr-sm-2">
              <option [ngValue]="null" selected="selected">- All -</option>
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
        </div>
        <button class="btn btn-outline-primary float-xs-right" (click)="onSearch()">Search</button>
    </form>
  
    <div class="row" *ngIf="pagination.totalCount > 0">
      <div class="col" *ngIf="pagination.totalCount > pagination.pageSize">
        <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.page" [pageSize]="pagination.pageSize" maxSize="7" (pageChange)="onPageChanged()" rotate="true" ellipses="false" boundaryLinks="true"></ngb-pagination>
      </div>
      <div class="col text-right">
        {{ pagination.from }}–{{ pagination.to }} of {{ pagination.totalCount | number }}
      </div>
    </div>
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th class="p-0"><a (click)="onOrderChanged('id')" class="btn btn-link pl-0" [ngClass]="{ 'ordered-by': order.orderBy == 'id', 'order-desc': order.orderDirDesc }">Id</a></th>
          <th class="p-0"><a (click)="onOrderChanged('description')" class="btn btn-link pl-0" [ngClass]="{ 'ordered-by': order.orderBy == 'description', 'order-desc': order.orderDirDesc }">Description</a></th>
          <th class="p-0"><a (click)="onOrderChanged('state')" class="btn btn-link pl-0" [ngClass]="{ 'ordered-by': order.orderBy == 'state', 'order-desc': order.orderDirDesc }">State</a></th>
          <th class="p-0"><a (click)="onOrderChanged('attachment')" class="btn btn-link pl-0" [ngClass]="{ 'ordered-by': order.orderBy == 'attachment', 'order-desc': order.orderDirDesc }">Attachment</a></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos" (dblclick)="viewTodo(viewTodoTemplateRef, todo)">
          <td>{{todo.id}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.state | todoStateName}}</td>
          <td><a *ngIf="todo.attachment; else elseNoAttachment" [href]="attachmentsDownloadUrl + todo.attachment.id">{{todo.attachment.filename}} ⤵</a><ng-template #elseNoAttachment>(no attachment)</ng-template></td>
          <td class="text-right" (click)="$event.stopPropagation()">
            <a class="btn btn-sm btn-secondary" [routerLink]="['/todos', todo.id]">Edit</a>
            <button class="btn btn-sm btn-danger" (click)="confirmDelete(todo)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div #elseBlock class="row" *ngIf="pagination.totalCount > 0">
      <div class="col" *ngIf="pagination.totalCount > pagination.pageSize">
        <ngb-pagination [collectionSize]="pagination.totalCount" [(page)]="pagination.page" [pageSize]="pagination.pageSize" maxSize="7" (pageChange)="onPageChanged()" rotate="true" ellipses="false" boundaryLinks="true"></ngb-pagination>
      </div>
      <div class="col text-right">
        {{ pagination.from }}–{{ pagination.to }} of {{ pagination.totalCount | number }}
      </div>
    </div>
  
    <ng-template #viewTodoTemplateRef let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">To-do Task</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row" class="text-right">Id: </th>
              <td>{{selectedTodo.id}}</td>
            </tr>
            <tr>
              <th scope="row" class="text-right">Description: </th>
              <td>{{selectedTodo.description}}</td>
            </tr>
            <tr>
              <th scope="row" class="text-right">State: </th>
              <td>{{selectedTodo.state | todoStateName}}</td>
            </tr>
            <tr>
              <th scope="row" class="text-right">Attachment: </th>
              <td><a *ngIf="selectedTodo.attachment; else elseNoAttachment" [href]="attachmentsDownloadUrl + selectedTodo.attachment.id">{{selectedTodo.attachment.filename}} ⤵</a><ng-template #elseNoAttachment>(no attachment)</ng-template></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
    
  </div>