<div id="todo-detail-container" class="container">
    <h2 class="display-4">To-do</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset [disabled]="form.disabled">
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" class="form-control" formControlName="description" required [ngClass]="{ 'is-invalid': shouldShowErrors(form.controls.description) }">
          <div *ngIf="shouldShowErrors(form.controls.description)" class="alert alert-danger">
            <div *ngIf="form.controls.description.errors.required">A description is required</div>
            <div *ngIf="form.controls.description.errors.maxlength">{{form.controls.description.errors.maxlength.actualLength}}/{{form.controls.description.errors.maxlength.requiredLength}} characters</div>
          </div>
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <select id="state" class="form-control" formControlName="state" required [ngClass]="{ 'is-invalid': shouldShowErrors(form.controls.state) }">
            <option *ngFor="let todoState of TodoStates" [ngValue]="todoState.value">{{todoState.label}}</option>
          </select>
          <div *ngIf="shouldShowErrors(form.controls.state)" class="alert alert-danger">
            <div *ngIf="form.controls.state.errors.required">Please, enter a state</div>
          </div>
        </div>
        <div class="form-group">
          <label>Attachment</label>
          <div>
            <ng-template [ngIf]="formAttachment" [ngIfElse]="elseNoAttachment">
              <a [href]="attachmentsDownloadUrl + formAttachment.id">{{formAttachment.filename}} ⤵</a>&nbsp;<button type="button" title="Delete Attachment" (click)="deleteFormAttachment()">❌</button>
            </ng-template>
            <ng-template #elseNoAttachment>
              <input type="file" id="attachment" class="form-control" (change)="onFileChange($event)">
              <div *ngIf="shouldShowErrors(form.controls.attachment)" class="alert alert-danger">
                <div *ngIf="form.controls.attachment.errors.fileMaxSize">The maximum file size is {{form.controls.attachment.errors.fileMaxSize.requiredSize | bytes}}</div>
              </div>
            </ng-template>
          </div>
        </div>
        <div *ngFor="let error of serviceErrors" class="alert alert-danger">
          <div>{{error}}</div>
        </div>
        <div class="text-right">
          <button class="btn btn-primary" type="submit" [disabled]="form.pristine || form.disabled">Submit</button>
          <button class="btn btn-secondary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>