<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">MAvha</a>
    <button class="navbar-toggler btn" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <div ngbDropdown>
            <button class="nav-link dropdown-toggle btn" ngbDropdownToggle>To-do tasks</button>
            <div ngbDropdownMenu>
              <a class="dropdown-item" routerLink="/todos">List</a>
              <a class="dropdown-item" routerLink="/todos/new">Create New</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>