<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="white-space: pre-line;">{{body}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" autofocus class="btn btn-outline-primary" (click)="ok()">Ok</button>
    <button type="button" *ngIf="useCancelBtn" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
    <!-- <button *ngFor="let button of buttons" type="button" [ngClass]="button.class" (click)="button.action()">{{button.text}}</button> -->
  </div>