/* You can add global styles to this file, and also import other style files */

/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";

.ordered-by::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}

.ordered-by:empty::after {
    margin-left: 0;
}

.order-desc.ordered-by::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
  
.order-desc.ordered-by:empty::after {
    margin-left: 0;
}

th a.btn {
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Font */
@import url('https://fonts.googleapis.com/css?family=Lato');